.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiTabs-flexContainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

form {
  background-color: white;
}
