.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiTabs-flexContainer {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

form {
  background-color: white;
}

a {
  color: #09d3ac;
  text-decoration: none;
  padding-left: 5px;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.MuiAvatar-img {
  width: 12rem;
  height: 12rem;
}
